.wp-block-query.spotlight-post.is-layout-flow {
  margin: 0;
}
.spotlight-post {
  background-color: var(--wp--preset--color--gallery-off-white);
  padding: var(--wp--preset--spacing--outer);
  overflow: hidden;

  & .wp-block-post {
    display: flex;

    @media screen and (max-width: 599px) {
      flex-direction: column;
    }
    @media screen and (min-width: 600px) {
      flex-direction: row-reverse;
    }
  }
  & .wp-block-post .spotlight-post__image {
    margin-top: calc(var(--wp--preset--spacing--outer) * -1);
    transform-origin: 0 0;
    transform: rotate(-5deg); 
    
    @media screen and (max-width: 599px) {
      flex: 0 0 50%;
    }
    @media screen and (min-width: 600px) {
      flex: 0 0 50%;
    }
  }
  & .wp-block-post .spotlight-post__image img {
    min-width: calc(100% + 2 * var(--wp--preset--spacing--outer));
    width: 130%;
    max-width: 130%;
    height: 110%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  & .wp-block-post .spotlight-post__text { 
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:first-child {
      flex: 0 0 100%;
    }
  }
  & .wp-block-post .wp-block-post-title {
    font-size: var(--wp--preset--font-size--h-4);
  }
  & .spotlight-post__label {
    font-size: var(--wp--preset--font-size--body-m);
    margin-bottom: 1.5em;
  }
  & .entry-content .wp-block-post-featured-image {
    display: none;
  }
}